:root{
    --white-color:hsl(0, 0%, 100%);
    --Lightgray-color:hsl(212, 45%, 89%);
    --Grayish-color: hsl(220, 15%, 70%);
    --Darkblue-color: hsl(218, 44%, 22%);

}

body{
background-color: var(--Grayish-color);
font-family: 'Cairo', sans-serif;
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Outfit', sans-serif;
}

p{
    font-size: 15px;
}

.qr{
    display: flex;
    align-content: center;
    justify-content: center;
}

.qr .box{
    background-color: var(--white-color);
   margin: 200px auto;
   border-radius: 20px;
   width: 200px;
}

.qr .box div{
display: flex;
justify-content: center;
}

.qr .box img{
    border-radius: 10px;
    width: 150px;
    margin: 20px;
}

.qr .box .text{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.qr .box .text h3{
    font-size: 10px;
    text-transform: capitalize;
color: var(--Darkblue-color);
}

.qr .box .text p{
    font-size: 10px;
    font-weight: normal;
    color: var(--Lightgray-color);
    font-weight: bold;
}

